.projects-page{

    font-size: 2rem;
    color: #fff;
    margin-left: auto;
    margin-right: auto;



    .project-display{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        padding: 0;
        margin: 3rem auto;
        width:100%;
        opacity: 0;
        animation: fadeIn 1.5s .5s forwards;


        ul{
            display: flex;
            list-style: none;
            justify-content: center;
            align-items: center;
            /* container must wrap around the content*/
            flex-wrap: wrap;
            padding: 0;
            margin: 0;
          }
          
          ul li .linker{
            height: 18rem;
            width: 18rem;
            
            background-color:#115173;
            border-radius: 1rem;
            margin: 0.5rem;
            display: flex;
            flex-direction: column;
            overflow: hidden;
            color:black;
            text-decoration: none;
            transition: .2s linear;

           
          }

          ul li .linker:hover{
            height: 20rem;
            width: 20rem;
            transition: .2s linear;
            border: 2px solid #ffd600;
          }
          
          ul li .linker img{
            max-width: 100%;
            max-height: 67%;
            min-width: 100%;
            min-height: 67%;
          }


          .grid-container{
            display: grid;
            flex-wrap: wrap;
            margin: .5rem;
            padding: 0;
            
            p{
              padding: 0;
              margin: 0;
              font-size: 1rem;
            }

            .title{
              font-size: 1.5rem;
            }

            .top-container{
              display: flex;
              align-items: center;
              justify-content: space-between;
            }

            .tags {
              display: block;
              margin-top: 1rem;

              .tag{
                font-family: sans-serif;
                font-size: 1rem;
                background-color: #e4e4e4fe;
                border-radius: 1rem;
                padding: .5rem;
                margin-left: .5rem;
              }
            }

            .date{
              font-size: 1rem;
              opacity: .8;
            }

          }


    }
}