.logo-container{
    z-index: 0;
    width: 35rem;
    height: 35rem;
    max-width: 100vw;
    max-height: 100vh;
    position:absolute;
    top: 12rem;
    right: 2rem;
    bottom: 0;
    left: auto;
    margin: auto;
    opacity: 0;
    animation: fadeIn 3s 5.5s forwards;
    overflow: hidden;

    
    .outer-circle {
        background-image: linear-gradient(rgb(255, 179, 0), rgb(255, 221, 0), #f9ff3f);
        width: 32rem;
        height: 32rem;
        border-style: solid;
        border-color: transparent;
        border-radius: 55%;
        border-width: 0;
        animation: rotateCircle 1.5s linear infinite;
        padding: 3px;
        display: table;
    
        .inner-circle {
            background: #ffd600;
            height: 32rem;
            width: 32rem;
            border-style: solid;
            border-color: transparent;
            border-radius: 55%;
            border-width: 2px;
            animation: rotateCircle 1.5s linear infinite reverse;
            text-align: center;
        }

    }

    .solid-logo{
        width: 32rem;
        height: 32rem;
        z-index: 1;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        border-radius: 100rem;

    }
    
        @keyframes rotateCircle {
        0% {
            transform: rotate(0);
        }
    
        25% {
            transform: rotate(90deg);
        }
    
        50% {
            transform: rotate(180deg);
        }
    
        75% {
            transform: rotate(270deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }
      
}

@media (max-width:1310px) {
    .logo-container{
        right: -1rem;
    }
}

@media (max-width:1200px) {
    .logo-container{
        right: -2rem;
        width: 32rem;
        height: 32rem;

        .outer-circle{
            width: 28rem;
            height: 28rem;

            .inner-circle{
                width: 28rem;
                height: 28rem;
            }
        }
    
        .solid-logo{
            width: 28rem;
            height: 28rem;
        }
    }
    
}


@media (max-width:1055px) {
    .logo-container{
        top: 50%;
        right: -10rem;
        width: 38rem;
        height: 38rem;

        .outer-circle{
            width: 25rem;
            height: 25rem;

            .inner-circle{
                width: 25rem;
                height: 25rem;
            }
        }
    
        .solid-logo{
            width: 25rem;
            height: 25rem;
        }
    }
    
}





@media (max-width:1000px) {
    .logo-container{
        top: 14rem;
        margin: auto;
        right: 0;
        left: 0.5rem;
        width: 38rem;
        height: 38rem;
        animation: fadeIn .5s 0s forwards;


        .outer-circle{
            width: 36rem;
            height: 36rem;

            .inner-circle{
                width: 36rem;
                height: 36rem;
            }
        }
    
        .solid-logo{
            width: 36rem;
            height: 36rem;
        }
    }
    
}


@media (max-width:700px) {
    .logo-container{
        top: 8rem;
        margin: auto;
        right: 0;
        left: 0rem;
        width: 31rem;
        height: 31rem;

        .outer-circle{
            width: 30rem;
            height: 30rem;

            .inner-circle{
                width: 30rem;
                height: 30rem;
            }
        }
    
        .solid-logo{
            width: 30rem;
            height: 30rem;
        }
    }
    
}


@media (max-width:550px) {
    .logo-container{
        top: 2rem;
        margin: auto;
        right: 0;
        left: 0;
        width: 27rem;
        height: 27rem;


        .outer-circle{
            width: 26rem;
            height: 26rem;

            .inner-circle{
                width: 26rem;
                height: 26rem;
            }
        }
    
        .solid-logo{
            width: 26rem;
            height: 26rem;
        }
    }
    
}


@media (max-width:470px) {
    .logo-container{
        top: -2rem;
        margin: auto;
        right: 0;
        left: 0;

        width: 23rem;
        height: 23rem;


        .outer-circle{
            width: 22rem;
            height: 22rem;

            .inner-circle{
                width: 22rem;
                height: 22rem;
            }
        }
    
        .solid-logo{
            width: 22rem;
            height: 22rem;
        }
    }
    
}

@media (max-width:400px) {
    .logo-container{
        top: -80px;
        margin: auto;
        right: 0;
        left: 0;

        width: 19rem;
        height: 19rem;

        .outer-circle{
            width: 18rem;
            height: 18rem;

            .inner-circle{
                width: 18rem;
                height: 18rem;
            }
        }
    
        .solid-logo{
            width: 18rem;
            height: 18rem;
        }
    }
    
}


@media (max-width:362px) {
    .logo-container{
        top: -120px;
        margin: auto;
        right: 0;
        left: 0;

        width: 17rem;
        height: 17rem;


        .outer-circle{
            width: 16rem;
            height: 16rem;

            .inner-circle{
                width: 16rem;
                height: 16rem;
            }
        }
    
        .solid-logo{
            width: 16rem;
            height: 16rem;
        }
    }
    
}


@media (max-width:310px) {
    .logo-container{
        top: -240px;
        margin: auto;
        right: 0;
        left: 0;

        width: 14rem;
        height: 14rem;

        .outer-circle{
            width: 13rem;
            height: 13rem;

            .inner-circle{
                width: 13rem;
                height: 13rem;
            }
        }
    
        .solid-logo{
            width: 13rem;
            height: 13rem;
        }
    }
    
}

