
.container{
    width: auto;
    will-change: contents;
    // min-height: 30rem;
    height: auto;
    width: auto;
    opacity: 0;
    top: 5%;
    margin: 1rem 1rem 1rem 1rem;
    // z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    
}

