.home-page{
    .text-zone{
        position: relative;
        margin-left: 2rem;
        top: 12rem;
        transform: translateY(-40%);
        width:50%;
        max-height: 100%;
    }

    h1{
        color: #fff;
        font-size: 3rem;
        margin: 0;
        font-weight: 400;


        img{
            width: 4rem;
            margin-left: 1.5rem;
            height: auto;
            animation: rotateIn 1s linear both;
            animation-delay: 1.4s;
        }
    }

    h2{
        color: #cccccc;
        margin-top: 1.2rem;
        font-size: 1rem;
        letter-spacing: 3px;
        animation: fadeIn 2s 4s backwards;
    }

    .description{
        font-size: 2rem;
        color: #fff;
        animation: fadeIn 2s 4.5s backwards;
        // animation-fill-mode: forwards;
    }

    .flat-button{
        margin-top: .5rem;
        color: #ffd600;
        font-size: 1.2rem;
        font-weight: 400;
        letter-spacing: 4px;
        animation: fadeIn 2s 5s backwards;
        margin-bottom: 2rem;

    }
}

@media (max-width:1310px) {
    .text-zone{
        width: 40%;
    }
}


@media (max-width:1000px) {
    .home-page{
        .text-zone{
            top: 13rem;
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(100%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
        }

        h2{
            text-align: center;
            justify-content: center;
        }

        .description{
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
          
    }
}


@media (max-width:700px) {
    .home-page{
        .text-zone{
            top: 11rem;
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(100%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
        }

        h2{
            text-align: center;
            justify-content: center;
        }

        .description{
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
          
    }
}



@media (max-width:570px) {
    .home-page{
        .text-zone{
            top: 9rem;
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(100%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
        }

        h2{
            text-align: center;
            justify-content: center;
        }

        .description{
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
          
    }
}




@media (max-width:550px) {
    .home-page{
        .text-zone{
            top: 15rem;
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(65%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
        }

        h2{
            text-align: center;
            justify-content: center;
        }

        .description{
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
    }
}


@media (max-width:470px) {
    .home-page{
        .text-zone{
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(50%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
        }

        h2{
            font-size: 1.5rem;
            text-align: center;
            justify-content: center;
        }

        .description{
            font-size: 1.2rem;
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
    }
}



@media (max-width:400px) {
    .home-page{
        .text-zone{
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(35%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
            font-size: 2rem;
        }

        h2{
            text-align: center;
            justify-content: center;
        }

        .description{
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
    }
}

@media (max-width:345px) {
    .home-page{
        .text-zone{
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(25%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
            font-size: 2rem;
        }

        h2{
            text-align: center;
            justify-content: center;
        }

        .description{
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
    }
}



@media (max-width:310px) {
    .home-page{
        .text-zone{
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(10%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
            font-size: 2rem;
        }

        h2{
            text-align: center;
            justify-content: center;
        }

        .description{
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
    }
}


@media (max-width:260px) {
    .home-page{
        .text-zone{
            margin-left: -1rem;
            width: 100%;
            // background-color: #ffd600;
            transform: translateY(0%);
            
        }

        h1{
            text-align: center;
            justify-content: center;
            font-size: 2rem;
        }

        h2{
            text-align: center;
            justify-content: center;
        }

        .description{
            display: inline-block;
            text-align: center;
            justify-content: center;
        }
        .flat-button{
            display: flex;
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;

        }
    }
}