.contact-page{

    position: relative;
    color: #fff;
    font-size: 2rem;
    margin-left: 2.5rem;
    // top: 50%;
    // transform: translateY(-50%);
    width:50%;
    max-height: 100%;
    margin-top: 2rem;
    padding: 0;
    overflow: hidden;

    p{
        font-size: 1.5rem;
        opacity: 0;
        animation: fadeIn 2s 1s forwards;
    }

    ul{
        padding: 0;
        margin: 0;

        li{
            padding: 0;
            margin: 0;
            list-style: none;
            font-size: 1rem;
            margin-bottom: .5rem;
            overflow: hidden;
            display: block;
            position: relative;
            opacity: 0;
            animation: fadeInUp 2s 2s;
            animation-fill-mode: forwards;
        }
    }

    input[type='text'],
    input[type='email']{
        width: 100%;
        border: 0;
        background: #115173;
        height: 3rem;
        // max-width: 40rem;
        font-size: 2rem;
        color: #fff;
        padding: 0 1rem;
        box-sizing: border-box;
        border-radius: 1rem;
    }

    textarea{
        width: 100%;
        // max-width: 37rem;
        border: 0;
        background: #115173;
        height: 5rem;
        font-size: 2rem;
        color: #fff;
        padding: 1rem;
        border-radius: 1rem;
    }

    .flat-button{
        position: relative;
        color: #ffd700;
        background: 0 0 ;
        font-size: 1.2rem;
        padding: .5rem 1rem;
        letter-spacing: 4px;
        text-decoration: none;
        border: 1px solid #ffd700;
        float: right;
        border-radius: .5rem;

        &:hover{
            cursor: pointer;
        }
    }
}

@media (max-width:1310px) {

    .contact-page{
        width:110%;
        
    }
    
}

@media (max-width:670px) {

    .contact-page{
        width:200%;
    }
    
}