.logo{
    display: flex;
    flex-wrap: wrap;       
    margin-left: 2rem; 
    img{
        display: inline;
        margin: .5rem auto;
        width: 5rem;
        height: 5rem;
    }
}

.nav-bar{
    background-color: #181818;
    width: 100%;
    position: sticky;
    top: 0;
    min-height: 5rem;
    display: flex;
    flex-wrap: wrap;
    left: 0;
    right: 0;
    
    .menu{
        position: absolute;
        margin-top: 1rem;
        font-size: 3rem;
        right: 2rem;
        cursor: pointer;
        display: none;
    }

    .menu.bars{
        transform: rotate(-180deg);
        transition: .2s;
    }

    .menu.times{
        transform: rotate(180deg);
        transition: .2s;
    }

    nav{
        display: flex;
        flex-wrap: wrap;
        position: absolute;
        width: 100%;
        margin-left: 2%;
        margin-top: 1rem;

        .nav-link {
            font-size: 2rem;
            color: #4d4d4e;
            margin-left:2rem;
            margin-top: .5rem;
            padding: 0;
            text-decoration:none;

            &:hover{
                svg{
                    color: #ffe600;
                }
                color: #ffe600;
            }
        }
    
        .nav-link.active{
            svg{
                color: #ffe600;
            }
            color: #ffe600;
        }
  
        
    }

    ul{
        position: absolute;
        display: flex;
        width: 100%; 
        list-style: none;
        padding: 0;
        margin: 0 0;
        top: 1rem;
        text-align: center;
        bottom: 1.5rem;
        right: -80%;


        li{
            a{
                padding: .5rem 0;
                display: block;
                font-size: 2.5rem;
                line-height: 1rem;
                margin-left: 2rem;

                &:hover svg{
                    color: #ffe600;
                }

            }
        }
    }
}



@media (max-width:1260px) {
    .nav-bar{
        .menu{
            display: initial;
        }
        nav{
            display: none;
        }
        ul{
            display: none;
        }

    }

}

.nav-bar.expand{
    height: 27.5rem;

    nav{
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        width: 108%;
        left: -2.5rem;
        top: 5.5rem;
        .nav-link{
            border-bottom: 1px solid #ffe600 ;
            .nav-btn{
                display: flex;
                text-align: center;
                justify-content: center;
            }
            
           
        }
    }
    .icons{
        display: flex;
        flex-flow: column;
        flex-wrap: nowrap;
        width: 100%;
        
    }
    ul{
        top: 23.5rem;
        left: 0;
        display: flex;
        li{
            margin-left: auto;
            margin-right: auto;
        }
    }
}


@media (max-width:900px) {
    .nav-bar.expand{

        ul{
            top: 23.5rem;
            left: -1.5rem;
            display: flex;
            li{
                margin-left: auto;
                margin-right: auto;
            }
        }

    }
}
