.logo-container-contact{
    z-index: 0;
    width: 35rem;
    height: 35rem;
    position:absolute;
    right: 2rem;
    top: 12rem;
    margin: auto;
    opacity: 0;
    animation: fadeIn 3s 1s forwards;
    overflow: hidden;
    
    .outer-circle {
        background-image: linear-gradient(rgb(255, 179, 0), rgb(255, 221, 0), #f9ff3f);
        width: 32rem;
        height: 32rem;
        border-style: solid;
        border-color: transparent;
        border-radius: 55%;
        border-width: 0;
        animation: rotateCircle 1.5s linear infinite;
        padding: 3px;
        display: table;
    
        .inner-circle {
            background: #ffd600;
            height: 32rem;
            width: 32rem;
            border-style: solid;
            border-color: transparent;
            border-radius: 55%;
            border-width: 2px;
            animation: rotateCircle 1.5s linear infinite reverse;
            text-align: center;
        }
    }

    .solid-logo{
        width: 32rem;
        height: 32rem;
        z-index: 1;
        position: relative;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 100%;
        border-radius: 100rem;
    }
    
        @keyframes rotateCircle {
        0% {
            transform: rotate(0);
        }
    
        25% {
            transform: rotate(90deg);
        }
    
        50% {
            transform: rotate(180deg);
        }
    
        75% {
            transform: rotate(270deg);
        }
    
        100% {
            transform: rotate(360deg);
        }
    }

}


@media (max-width:1310px) {
    .logo-container-contact{
        right: 0%;
        top: 15rem;
        width: 32rem;
        height: 32rem;

        .outer-circle{
            width: 28rem;
            height: 28rem;

            .inner-circle{
                width: 28rem;
                height: 28rem;
            }
        }
    
        .solid-logo{
            width: 28rem;
            height: 28rem;
        }
    }
    
}



@media (max-width:1040px) {
    .logo-container-contact{
        right: -6%;
        width: 32rem;
        height: 32rem;

        .outer-circle{
            width: 24rem;
            height: 24rem;

            .inner-circle{
                width: 24rem;
                height: 24rem;
            }
        }
    
        .solid-logo{
            width: 24rem;
            height: 24rem;
        }
    }
    
}


@media (max-width:940px) {
    .logo-container-contact{
        right: -14%;
        // left: 5%;
        width: 32rem;
        height: 32rem;

        .outer-circle{
            width: 20rem;
            height: 20rem;

            .inner-circle{
                width: 20rem;
                height: 20rem;
            }
        }
    
        .solid-logo{
            width: 20rem;
            height: 20rem;
        }
    }
    
}



@media (max-width:840px) {
    .logo-container-contact{
        right: -20%;
        // left: 5%;
        width: 32rem;
        height: 32rem;

        .outer-circle{
            width: 20rem;
            height: 20rem;

            .inner-circle{
                width: 20rem;
                height: 20rem;
            }
        }
    
        .solid-logo{
            width: 20rem;
            height: 20rem;
        }
    }
    
}


@media (max-width:740px) {
    .logo-container-contact{

        right: -30%;
        // left: 5%;
        width: 32rem;
        height: 32rem;

        .outer-circle{
            width: 16rem;
            height: 16rem;

            .inner-circle{
                width: 16rem;
                height: 16rem;
            }
        }
    
        .solid-logo{
            width: 16rem;
            height: 16rem;
        }
    }
    
}


@media (max-width:670px) {
    .logo-container-contact{
        display: none;

        right: -30%;
        // left: 5%;
        width: 32rem;
        height: 32rem;

        .outer-circle{
            width: 16rem;
            height: 16rem;

            .inner-circle{
                width: 16rem;
                height: 16rem;
            }
        }
    
        .solid-logo{
            width: 16rem;
            height: 16rem;
        }
    }
    
}